<html>
  <head>
    <title> caching youtube proxy</title>
  </head>
  <body>
    <p>this is a youtube proxy</p>
    <p>a youtube video like <a href="https://www.youtube.com/watch?v=9vVohGWhMWs">this</a> gets converted to <a href="/yt/video/9vVohGWhMWs">this url</a> and is cached locally to save bandwidth</p>
    <p>please do not use this software to infringe on copyright or bypass any laws</p>
    <p>for personal use only</p>
    <p><a href="https://github.com/majestrate/youtube-proxy">fork on github</a></p>
  </body>
</html>
